p{
	text-align: justify;
	text-indent: 50px;
}

footer#rodape ul {
	list-style: none;
	text-transform: uppercase;
}


#rodape {

	color: black;
	text-decoration: none;
	position: absolute;
	bottom: -20px;
	width: 100%;
}

