
<div id="login">
	<form method="post" action="autenticacao.php">
			<br>Login:<br><input type="text" name="usuario" /><br/>
			Senha:<br><input type="password" name="senha" /><br/><br>
			<button type="submit">Entrar</button><br><br>
	</form>
</div>


